/* Reset */
* {
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    width: 40%;
}

.flex {
    display: flex;
}

ul li {
    list-style-type: none;
}


.teachers-box {
    background-color: lightgray;
    
}

.pm-box {
    background-color: lightgreen;
}

.teachers-box, .pm-box {
    margin: 5px;
    padding: 10px;
    line-height: 30px;
}